body, html{
	padding:0px;
	margin:0px;
	
	
}
div.wrap{
	width: 100%;
	height: 100vh;
	background: url('../img/main.jpg') no-repeat;
	background-size: cover;
}
.go-button {
	width: 10em;
	height: 4em;
	background-color: black;
	color: white;
	padding: 0.5em;
	border-radius: 2em;
	margin-top: 5em;
}
#title {
	margin: 50px auto;
	display:inline-block;
	font-size: 30px;
	font-family: 'Kaushan Script', cursive;
	line-height: 20px;
	color: #fddc57;
	
}