#input-table{
	width:50%;
	margin:auto;
	text-align:center;
	margin-top:2em;
	border-collapse:collapse;
	border:1px solid #c0c0c0;
}
#input-table td{
	
	padding:1em;
}
#input-table input{
	border-bottom:1px solid black;
	border-top:0px solid black;
	border-left:0px solid black;
	border-right:0px solid black;
	
}
#seat-table table{
	/*border:1px solid black;*/
	
}

.seat_table td{
	/*  border:1px solid black;*/
	position:relative;
}
.seat{
	position:relative;
	background-color:#f0af75;
	width:3em;
	height:3em;
	border:1px solid black;
}
.space{
	background-color:#808080;
	width:3em;
	height:3em;
	border:1px solid black;
}
.fix-seat{
	background-color:#bf6615;
	width:3em;
	height:3em;
	border:1px solid black;
}
.none{
	/* background-color:#5e5e5e; */
	width:1.5em;
	height:1.5em;
}

.female_num{
	color:pink;
	display:inline-block;
	border:1px solid pink;
	border-radius:1em;
	width:2em;
	height:1.5em;
	background-color:white;
}
.male_num{
	color:skyblue;
	display:inline-block;
	border:1px solid skyblue;
	border-radius:1em;
	width:2em;
	height:1.5em;
		background-color:white;
	
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40em;
    height:30em;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#previewImage{
	text-align:center;
	border:1px solid #c0c0c0;
	width:90%;
	height:24em;
	margin:auto;
	display:inline-block;
}
#previewImage image{
	
	margin:auto;
	display:inline-block;
}